.login__logo {
  /* background-image: url('../assets/triply_logo_black.png');
  background-size: 70%;
  background-repeat: no-repeat; */
  /* margin: 5%; */
  /* margin-left: 8vw; */
  /* width: 100%; */
  /* height: 30vh; */
  /* display: flex */
}

.login__container {
  /* width: 500px;
  margin: auto; */
  /* text-align: -webkit-center; */
}
