.login__logo {
  /* background-image: url('../assets/triply_logo_black.png');
  background-size: 70%;
  background-repeat: no-repeat; */
  margin-top: 2vh;
  margin-bottom: 1vh;
  /* margin-left: 8vw; */
  width: 25vw;
  height: 30vh;
  display: flex
}

.login__container {
  width: 500px;
  margin: auto;
  text-align: -webkit-center;
}
