body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  --yellow: #fdd300;
  --yellow-dark: #eac200;
  --off-white: #f0f0f0;
}

.flex {
  display: flex;
}

.border1 {
  border: 1px solid black;
}
