@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

.Timeline__Card {
  padding: 10px;
  margin: 3px;

  border: 1px solid rgb(103, 98, 98);
}

.Timeline__Divider {
  padding: 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid rgb(103, 98, 98);
  background: linear-gradient(
    90deg,
    rgba(247, 230, 3, 1) 12%,
    rgba(179, 225, 73, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
}
