@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.homepage_body {
  background-image: url('../assets/triply_cover.jpeg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 62%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  background-image: url('../assets/triply_logo_black.png');
  background-size: 65%;
  background-repeat: no-repeat;
  margin-top: 10vh;
  margin-left: 30px;
  width: 35vw;
  height: 35vh;
  display: flex
}

.MuiButton-root{
  background-color: yellow;
}

.MuiInputBase-input {
  text-align: center;
}
/* .MuiInputLabel-formControl {
  top: 0;
  margin-top: .3em;
  left: 0;
  position: unset;
  text-align: center;
} */

.header__content {
  display: flex;
  height: 10em;
}

.homepage__tagline {
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  color: rgb(253, 210, 0);
  letter-spacing: 0.2px;
  -webkit-text-stroke: 3px rgb(34, 34, 30);
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin: -25px;
}

.tag_container {
  margin-top: 300px;
  margin-right: 60px;
  text-align-last: right;
}

.homepage__button {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.navbar_container {
  display: flex;
  justify-content: flex-end;
  width: 70em
}

.form_header {
    display: flex;
    justify-content: flex-end;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: rgb(253, 210, 0);
    letter-spacing: 0.2px;
    -webkit-text-stroke: 3px rgb(34, 34, 30);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-right: 7.5em;
}
